{%- assign months = "05|06|07|08" | split: "|" %}
{%- assign month_names = "May|June|July|August" | split: "|" %}
<section class="people row justify-content-center">

{%- for i in (0..3) %}

<div class="col-md-4">
{% assign month = months[i] %}
{% assign month_starts = "2026-" | append: month | append: "-01" %}
{% assign month_starts_ts = month_starts | date: "%s" %}

{% assign fd = false %}
<div class="calendar">
<b class="calendar__month">{{ month_names[i] }}</b>
<b class="calendar__we">Sun</b><b>Mon</b><b>Tue</b><b>Wed</b><b>Thu</b><b>Fri</b><b class="calendar__we">Sat</b>
{%- for i in (-7..30) %}
    {%- assign day = 86400 | times: i | plus: month_starts_ts %}
    {%- assign dow = day | date: '%u' %}
    {%- assign m = day | date: '%m' %}
    {%- assign dayf = day | date: "%Y-%m-%d" %}
    {%- unless fd %}
        {%- if dow == '6' %}{% assign fd = true %}{% endif %}
        {%- continue %}
    {%- endunless %}

    {%- if month == m %}
        {%- assign has_lec = false %}
        {%- assign has_lab = false %}
        {%- assign has_hw = false %}
        {%- assign has_exam = false %}
        {%- assign link = "" %}
        {%- case dow %}
            {%- when '6' %}<span class="calendar__we {{ has_posts }} ">
            {%- when '7' %}<span class="calendar__we {{ has_posts }}">
            {%- else %}
                {%- for post in site.lectures %}
                    {%- assign d = post.deliverydate | date: "%Y-%m-%d" %}
                    {%- if d == dayf %}
                        {% unless post.placeholder %}
                            {% assign has_lec = true %}
                            {%- assign link = "/lectures.html#" | append: post.card-link %}
                            {% break %}
                        {% endunless %}
                    {% endif %}
                {%- endfor %}
                {%- for post in site.labs %}
                    {%- assign d = post.deliverydate | date: "%Y-%m-%d" %}
                    {%- if d == dayf %}
                        {% unless post.placeholder %}
                            {% assign has_lab = true %}
                            {%- assign link = "/lectures.html#" | append: post.card-link %}
                            {% break %}
                        {% endunless %}
                    {% endif %}
                {%- endfor %}
                {%- for postl in site.data.homework %}
                    {% assign post = postl[1] %}
                    {%- assign d = post.due-date | date: "%Y-%m-%d" %}
                    {%- if d == dayf %}
                        {% assign has_hw = true %}
                        {%- assign link = "/homeworks.html" %}
                        {% break %}
                    {% endif %}
                {%- endfor %}
                {%- for postl in site.data.exam %}
                    {% assign post = postl[1] %}
                    {%- assign d = post.date | date: "%Y-%m-%d" %}
                    {%- if d == dayf %}
                        {% assign has_exam = true %}
                        {%- assign link = "/exams.html" %}
                        {% break %}
                    {% endif %}
                {%- endfor %}
                {%- if has_lec %}
                    <span><a href="{{ site.base }}{{ link }}" style="color:#0000aa;">
                {%- elsif has_lab %}
                    <span><a href="{{ site.base }}{{ link }}" style="color:#00aa00;">
                {%- elsif has_hw %}
                    <span><a href="{{ site.base }}{{ link }}" style="color:#aa0000;">  
                {%- elsif has_exam %}
                    <span><a href="{{ site.base }}{{ link }}" style="color:#aa00aa;">  
                {%- else %}
                    <span class="">
                {%- endif %}      
        {%- endcase %} 
        {%- if has_lec or has_lab or has_hw or has_exam %}
            {{ day | date: '%e' }}</a></span>
        {%- else %}
            {{ day | date: '%e' }}</span>
        {%- endif %}
    {%- else %}
        <span></span>
    {% endif %}
{%- endfor %}
</div>
</div>    

{%- endfor %}

</section>